services:
  app:
    build:
      context: .
      dockerfile: docker/production/Dockerfile
      args:
        VITE_PUSHER_APP_KEY: ${VITE_PUSHER_APP_KEY}
        VITE_PUSHER_APP_CLUSTER: ${VITE_PUSHER_APP_CLUSTER}
    image: fitness-mvp:latest
    ports:
      - '80:8080'
    env_file: .env.production
    environment:
      AUTORUN_ENABLED: 'true'
      AUTORUN_LARAVEL_STORAGE_LINK: 'true'
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - app_storage:/var/www/html/storage
      - app_logs:/var/www/html/storage/logs
    restart: unless-stopped
  scheduler:
    image: fitness-mvp:latest
    command: ['php', '/var/www/html/artisan', 'schedule:work']
    env_file: .env.production
    environment:
      AUTORUN_ENABLED: 'false'
    stop_signal: SIGTERM
    healthcheck:
      test: ['CMD', 'healthcheck-schedule']
      start_period: 10s
    depends_on:
      - mysql
    volumes:
      - app_logs:/var/www/html/storage/logs
    restart: unless-stopped

  queue:
    image: fitness-mvp:latest
    command:
      [
        '/bin/sh',
        '-c',
        'sleep 20 && php /var/www/html/artisan queue:work --tries=3',
      ]
    env_file: .env.production
    environment:
      AUTORUN_ENABLED: 'false'
    stop_signal: SIGTERM
    healthcheck:
      test: ['CMD', 'healthcheck-queue']
      start_period: 10s
    depends_on:
      - mysql
    volumes:
      - app_logs:/var/www/html/storage/logs
    restart: unless-stopped
  mysql:
    image: mysql:8.4
    environment:
      - MYSQL_DATABASE=${DB_DATABASE:-fitness_mvp}
      - MYSQL_USER=${DB_USERNAME:-fitness_user}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD:-${DB_PASSWORD}}
    # ports:
    #   - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  mysql_data:
  app_storage:
  app_bootstrap_cache:
  app_logs:
